<?xml version="1.0"?>
<!--
/**
 * @author    Reign <hello@reign.com.au>
 * @version   1.0.1
 * @copyright Copyright (c) 2018 Reign. All rights reserved.
 * @copyright Copyright (c) 2018 Bambora. All rights reserved.
 * @license   Proprietary/Closed Source
 * By viewing, using, or actively developing this application in any way, you are
 * henceforth bound the license agreement, and all of its changes, set forth by
 * Reign and Bambora. The license can be found, in its entirety, at this address:
 * http://www.reign.com.au/magento-licence
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bambora_apacapi>
                <active>0</active>
                <order_status>processing</order_status>                
                <model>Bambora\Apacapi\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card - Bambora</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.50</min_order_total>
            </bambora_apacapi>
        </payment>
    </default>
</config>
